
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

:root{
  --primary-text-color: #212121;
  --secondary-color: #888;
  --accent-color:#8800c7
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
  color: var(--primary-color);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: white
}

.container
{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}


.hover-link{
  cursor: pointer;
  border-radius: 4px;
}

.hover-link:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.hover-link-active{
  background-color: rgba(255, 255, 255, 0.2);
}
/* class */

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}